/*================== START OF BASIC SETTINGS ==================*/
body, html{
  height:100%;
  margin:0;
  font-family: 'Catamaran', sans-serif;
}

*{
  transition: all ease-in-out 250ms;
}



/*================== END OF BASIC SETTINGS ==================*/

/*================== START OF MAIN PAGE ==================*/
.pimg1{
  background-image:url(../../images/image1.jpg);
  min-height:100%;
}
.pimg1, .pimg2, .pimg3 {
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.pimg2{
  background-image:url(../../images/image2.jpg);
  min-height:40%;
}

.pimg4{
  background-image:url(../../images/image6.jpg);
  min-height:25%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
/*================== END OF ==================*/

/*================== START OF NAVBAR ==================*/


.navbar {
  border: none;
  transition: 0.4s;
  z-index: 100;
/* --- navbar colors --- */
}
.navbar-brand {
  padding: 0;
}
.navbar a {
    color: white;
}
.navbar ul a:hover{
  background: transparent;
  color: #3d8f87;
}

.navbar--size--xl {
  padding: 4rem 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1rem 0;
}
.navbar--size--sm {
  padding: 0;
}
.navbar--color--white {
  background: #fff;
}
.navbar--color--primary {
  background: #37ca7e;
}
.navbar--color--secondary {
  background: rgba(0,0,0,0.9);
}
.navbar--color--ghost {
  background: rgba(0,0,0,0.2);
}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost a {
  color: #fff;
}


/*================== DROPDOWN MENU ==================*/

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #3d8f87;
}

#smoothScroll{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/*================== END OF NAVBAR ==================*/


/*================== START OF SECTIONS STYLE  ==================*/

.section {
  padding: 100px;
}
.sectionSmall{
  padding:50px;
}
.sectionGrey{
  background-color: #f7f7f8;
}
.sectionDGrey{
  background-color: #cecece
}
.sectionGraphite{
  background-color: #262626
}
.sectionWhite{
  background-color: #fff;
}

.sectionNavy{
  background-color: #283646;
  color: white;
}
/*================== END OF SECTIONS STYLE  ==================*/

.aboutUsImg {
  max-width: 100%;
  border-radius: 5px;
}

.iconBorder {
  padding: 15px 15px;

}
.iconBorder:hover {
  color: #3d8f87;
}

.half{
    width: 100%;
    height: 100%;
    position: relative;
}
.brandDevelopment{
  margin:auto;
  widows: 8em;
}

.btnTrans{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  height: auto;
  position: relative;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.btnTrans:hover{
  background-color: black;
  color: white;
  font-weight: 700px;
}

.findOutMoreColor{
  color: black;
}
.findOutMoreSize{
  font-size: 18px;
}





/*================== START OF CONTACT INFORMATION SECTION ==================*/
.logoMax{
  max-width: 200px;
  margin-bottom: 40px;
}

.information{
  line-height: .5em;
}

.footAnchor a{
  color: #888888;
}
.contactSection{
  color: #888888;
  font-size: 16px;
}
.contactHeaders{
  color: #fff;
}
.footAnchor a:hover{
  color: #3d8f87;
}

/* Gradient transparent - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}


/*================== END OF CONTACT INFORMATION SECTION ==================*/
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

footer{
  background-color: #131313;
  color: #888888;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
footer a{
  color: #888888;
}
footer a:hover{
  color: #3d8f87;
}

.ultList{
  font-size: 16px;
}

.ultList li{
  padding-bottom: 1em;

}

.inline{
  position: absolute;
  top:45%;
  left: 35%;
  display: inline;
  color: #fff;
}

.rotateSize{
  font-size: 56px;
}

/*================== START OF CSS GRID ==================*/

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 200px;
}

.grid > div{
  background: #eee;
  padding: 1em;
}

.grid > div.nth-child(odd){
  background: #ddd;
}

/*================== END OF CSS GRID ==================*/
